nav {
  font-weight: normal;
}
.vertical {
  border-left: 2px solid #2D2D2D;
  height: 40px;
  padding: 0;
  margin: 0;
}
.btn {
  border-radius: 6px;
  padding: 5px 7px;
  color: white;
  font-size: 17px;
  text-transform: unset !important;
}
.login-btn {
  background-color: #89C80E;
  text-transform: unset !important;
}
.login-btn:hover {
  background-color: #353535;
}
::placeholder {
  color: #F5F5F5;
  font-style: italic;
  font-size: 14px;
}
.login-el {
  border: solid 2px rgb(217, 217, 217);
}
a {
  color: #909090;
}
a:hover {
  color: #F5F5F5;
}
.login-link {
  color: #909090;
}
.login-link:hover {
  color: #F5F5F5;
}
.registration {
  color: #909090;
}
.registration:hover {
  color: #89C80E;
}
.nav-btn {
  background-color: #89C80E;
}
.nav-btn:hover {
  background-color: rgb(228, 160, 24);
}
.soc-btn {
  background-color: rgb(14, 172, 221);
}
.soc-btn:hover {
  background-color: rgb(13, 152, 195);
}
.search {
  border-radius: 20px;
  width: 233px;
  height: 28px;
  background-color: #89C80E;
}
*:focus {
  outline: 0;
}
