<div>
  <div class="about">
    Electric vehicles are the technology of choice for eco-friendly car buyers because they have no emissions tied to their operation; they can be powered with clean, renewable energy; and even when charged with power from nonrenewable sources, the inherent fuel efficiency of electric motors versus internal combustion engines means they release less carbon per mile (when similar vehicles are compared).
    <br><br>
    Even though they’re technically more efficient, how much cheaper electric vehicles are to drive depends on the cost of electricity and gasoline (or diesel) where you live. They usually cost less per mile, but they tend to cost more up front.
    <br><br>
    The lithium-ion battery packs that power EVs have to be plugged into 240 volts and adequate current to charge in a reasonable number of hours, so buyers should count on additional costs for the hardware and installation. Clearly, renters and those without garages are at a disadvantage.
    <br><br>
    Public charging should be viewed as an occasional convenience or a means to venture past one’s own region, both because it’s often more expensive (or can become so without warning) and because even fast charging is timed in hours, not minutes, if you use a full gas tank and its associated range as your standard. The most sensible, affordable way to own an electric car is to pay only for the size of battery pack you need and to charge at home overnight, every night, when electric demands are typically lower, taking advantage of off-peak rates if offered.
    <br><br>
    Shoppers determining how much range they need will have to consider the weather, because range can plummet as the battery pack cools and the occupants sacrifice range to heat the cabin electrically. According to a AAA study, EVs can lose more than 40 percent of their range at 20 degrees.
    <br><br>
    Though a federal tax credit worth up to $7,500 for longer-range electric cars remains for some EV brands, Tesla and Chevrolet hit their sales caps in 2019, triggering a phaseout that has reduced the amount to a maximum of $1,875, after which it will expire. Additionally, because electric car motorists don’t pay gas taxes, some states have begun to establish recurring registration fees for EVs that are clearly punitive.
    <br><br>
    In a country with gas prices as low as ours, this still-new technology needs a leg up to succeed, and incentives seem to be waning even as much of the world embraces or even mandates EV adoption.
  </div>
  <div class="comment-style-bottom2">
    <div>

    </div>
  </div>
  <span style="text-decoration: underline; padding: 1px 0 0 10px;">About</span>
</div>
