.about {
  width: 750px;
  padding: 10px 12px 14px 12px;
  color: #353535;
  border-left: solid 2px #89C80E;
  border-right: solid 2px #89C80E;
  border-top: solid 2px #89C80E;
  font-size: 15px;
  font-weight: normal;
  background-color: white;
}
