<div *ngFor="let element of games$; let i = index" class="" style="width: 340px; float: left; margin-right: 30px; margin-top: 10px">
  <a [routerLink]="['/game-page/'+element.id]" onclick="$('html, body').animate({scrollTop:0},400)"><img class="card-img-top rounded" style="width: 340px; height: 200px" src="{{element.image}}" alt="Card image cap">
  </a>
  <div class="" style="text-align: center">
    <a [routerLink]="['/game-page/'+element.id]" onclick="$('html, body').animate({scrollTop:0},400)" class="btn btn-link p-0 m-3">{{element.name}}</a><br>
  </div>
</div>

