<div style="font-weight: normal; font-size: 15px" class="mt-3 mb-5">
  <div class="module-title">
  <h1 style="font-size: 21px; font-weight: bolder; color: #353535" class="mb-5">Popular Questions :)</h1>
</div>
  <h2>
    <span style="color:#607D8B">WHEN IS THE BEST TIME TO CHARGE?</span>
  </h2>
  <li>
    Drivers can charge their electric vehicles any time, day or night. Shifting your charging to low-cost evening, early morning and/or weekend periods, however, can help you save money. Other factors that impact your charging cost include location and the rate plan you choose.</li>
  <br><br>
  <h2>
    <span style="color:#607D8B">ARE THERE RATE OPTIONS OPTIMIZED FOR ELECTRIC VEHICLE CHARGING?
</span>
  </h2>
  <li>Our Residential Time of Use Rate is a similar option that offers additional time parameters. A time of day rate means that your kWh cost will differ depending on the time of the day electricity is used. If you can shift your electricity use to low-cost evening, early morning and/or weekend periods, you may benefit from these rates.
  </li>
    <li>Our Experimental Residential Plug-in Electrical Vehicle Rate is generally used with your existing smart meter and applies to all your electric use (household and PEV). Reduced “off peak rates” incentivize customers to charge their vehicle during off peak hours.
    </li>
    <li>Please note that neither of the above options requires you to install a 240v charging station.
  </li><br><br>
  <h2>
    <span style="color:#607D8B">HOW CAN I GET THE MOST BENEFITS FROM MY EV?</span>
  </h2>
  <li>Simply driving an electric vehicle offers benefits for your wallet, the grid and the environment. To get even more, consider these options:
<br>
    •   Use a Cost Savings Calculator to compare vehicle types/benefits before you buy
    <br>
    •   Apply for Federal tax incentives up to $7,500 on some vehicles to reduce your upfront cost
    <br>
    •   Explore our PowerMIDrive™ rebates to see if you qualify for a rebate of $400 on the installation of a Level 2 charger at your home
    <br>
    •   Charge your vehicle often so you can avoid fueling up with gasoline
    <br>
    •   Take advantage of public or workplace charging stations
    <br>
    •   Charge your vehicle on renewable energy such as solar or wind</li><br><br>
  <h2><span style="color:#607D8B">HOW CAN I INSTALL AN EV CHARGING STATION AT HOME?</span>
  </h2>
  <li>We can only work on the utility side of the meter, providing the necessary service to your home. A licensed electrician should be consulted to install a charging station.</li><br><br><b>
  <span style="color:#607D8B">ARE THERE INCENTIVES, REBATES OR TAX CREDITS FOR PUBLIC OR HOME CHARGING STATIONS?</span></b><br>
  <li>
    Yes. Consumer’s Energy created the PowerMIDrive™ program to offer rebates of $500 on the installation of a Level 2 charger at your home, and rebates up to $5,000 and $70,000 on installations of public Level 2 and DC Fast Chargers on commercial properties. See the PowerMIDrive™ program details.
  </li><br><br>
  <h2>
    <span style="color:#607D8B">WHY ARE THERE A LIMITED NUMBER OF RESIDENTIAL AND PUBLIC CHARGING STATIONS APPROVED FOR USE IN THE POWERMIDRIVE PROGRAM?</span>
  </h2>
  <li>
    The PowerMIDrive program was approved by the Michigan Public Service Commission and developed on the premise of creating a managed vehicle charging infrastructure which includes residential, public workplace and public DC Fast charging incentives. In an effort to understand when drivers are charging and the impact of incentives and time of use rates, it was necessary for all stations to have Wi-Fi or cellular connectivity that would enable the collection of anonymous charging data. This will enable us to collect data that will help determine the effectiveness of the program.
<br>
    All PowerMIDrive authorized chargers have this capability.
  </li><br><br>
  </div>
